<div class="container">
    <h1>{{handle}}</h1>

    <div class="top-tweets">
        <mat-tab-group mat-stretch-tabs (selectedTabChange)="tabClick($event)">
            <mat-tab label="LexRank">
                <ngx-spinner size="medium" type="ball-atom" [fullScreen]="true">
                    <p style="color: white"> Summarizing, please wait. </p>
                </ngx-spinner>
                <div class="tweets">
                    <div class="tweet" *ngFor="let tweet of lexTweets; let i = index">
                        <ngx-tweet tweetId={{tweet}}></ngx-tweet>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="LatentDirichletAllocation">
                <ngx-spinner size="medium" type="ball-atom" [fullScreen]="true">
                    <p style="color: white"> Summarizing, please wait. </p>
                </ngx-spinner>
                <div class="tweets">
                    <div class="tweet" *ngFor="let tweet of ldaTweets; let i = index">
                        <ngx-tweet tweetId={{tweet}}></ngx-tweet>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Random">
                <ngx-spinner size="medium" type="ball-atom" [fullScreen]="true">
                    <p style="color: white"> Summarizing, please wait. </p>
                </ngx-spinner>
                <div class="tweets">
                    <div class="tweet" *ngFor="let tweet of ranTweets; let i = index">
                        <ngx-tweet tweetId={{tweet}}></ngx-tweet>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="cloud">
        <angular-tag-cloud [data]="data0" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [randomizeAngle]="options.randomizeAngle">
        </angular-tag-cloud>

        <angular-tag-cloud [data]="data1" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [randomizeAngle]="options.randomizeAngle">
        </angular-tag-cloud>

        <angular-tag-cloud [data]="data2" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [randomizeAngle]="options.randomizeAngle">
        </angular-tag-cloud>

        <angular-tag-cloud [data]="data3" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [randomizeAngle]="options.randomizeAngle">
        </angular-tag-cloud>

        <angular-tag-cloud [data]="data4" [width]="options.width" [height]="options.height" [overflow]="options.overflow" [randomizeAngle]="options.randomizeAngle">
        </angular-tag-cloud>
    </div>
</div>