<div class="container">
    <h1>{{handle}}</h1>

    <div class="summary">
        <p>
            {{body}}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>
     <div AgWordCloud #cloudchart1=ag-word-cloud  [wordData]="wordData1" [options]="options"></div>
     <div AgWordCloud #cloudchart2=ag-word-cloud  [wordData]="wordData2" [options]="options"></div>
     <div AgWordCloud #cloudchart3=ag-word-cloud  [wordData]="wordData3" [options]="options"></div>
     <div AgWordCloud #cloudchart4=ag-word-cloud  [wordData]="wordData4" [options]="options"></div>
     <div AgWordCloud #cloudchart5=ag-word-cloud  [wordData]="wordData5" [options]="options"></div>

    <ngx-tweet tweetId="921670221710032896"></ngx-tweet>
</div>